<div class="about-banner" id="bluestairs">
</div>
<div class="container text-center text-blue paragraphs">
  <h1 class="text-blue my-4">About Us</h1>
  <h2 class="text-blue">Our Core Values</h2>
  <p><strong>awe</strong> stands for Awareness – Wellness - Engagement. We believe in the values of trust, fun and integrity.</p>
  <h2>About Us</h2>
  <p>We are a fast-growing consultancy with a passion for creativity. We guide and support clients in improving awareness on contemporary issues affecting company performance. Our clients operate in a range of industries such as insurance, sport, retail and energy. We have an extensive background in health and high-performance in sport and business. This places us at the forefront of a new frontier of understanding on the effects on health in the workplace. We believe that employee wellbeing contributes directly to your company’s bottom line. Our ideas and interventions are grounded in the latest information and research around physical wellness, health, elite team development and strategic thinking.</p>
  <h2>Our Mission</h2>
  <p>To bring a multitude of tailored programmes that can target your needs. We work with organisational leaders to identify knowledge areas that need strengthening. We believe strongly in providing high quality awareness and information transfer that commit directly to your bottom line through employee wellness. We have pride in our background in coaching and mentoring.</p>
  <h2>Why Choose us? </h2>
  <p>Clients and professionals choose awe Inspiring Consulting because of our people. We have specific expertise and experience in performance management with a background in the latest thinking and best scientific evidence around wellness and elite team performance strategies. We are all passionate, dedicated and energetic. With our knowledge base and experience we bring authenticity to our message and relevance with our approach.</p>
  <h2>What We Do.</h2>
  <p>We take themes relevant to your business – chosen by you - and we present parallels between them and the sporting world in informative, interesting awareness-building sessions for your employees, clients and stakeholders. These can be through training days involving either large group workshops, individual coaching or small-group seminars. The return on any investment to employee health and wellness can be hard to quantify, difficult to notice and hard to measure. This is why we focus on raising awareness in the knowledge and understanding of the potential professional dangers of unhealthy lifestyles as a means of futureproofing your employees.</p>
  <div class="d-flex justify-content-center">
    <%= link_to 'our programmes', programmes_path, class: 'button button-blue my-4' %>
  </div>
</div>
