<div class="middle-banner mt-0" id="mountains">
  <h1>Contact Us</h1>
</div>
<div class="container text-center">
  <h3>Get in contact today for more information</h3>
  <h3 class="my-4">info@awe-inspiring-consulting.co.uk</h3>
</div>
