<div class="about-banner" id="bluestairs">
</div>
<div class="container text-center text-blue paragraphs">
  <h1 class="text-blue my-4">Programmes</h1>
  <p>Two ‘modules/ programmes’ within our over-arching company profile.</p>
  <p class="m-0"><strong>1. FIRST STEP</strong> Workplace Wellness</p>
  <p class="m-0"><strong>2. HUDDLE</strong> Team Dynamics and Performance</p>
  <img src="<%= asset_path 'oranges.jpg' %>" alt="" class="programmes-image my-5">
  <h2 class="mt-2"> First Step Workplace Wellness</h2>
  <div class=" mt-4">
    <h3 class="mt-0">Abstract</h3>
    <p>The Programme is specifically designed to raise an awareness of how your employee’s health status can affect your bottom line. We specialise in providing information in an informal and interesting setting. We bring an external viewpoint on common pitfalls that contribute towards health-related absenteeism in the workplace. Advice is provided on health management development initiatives that your company can develop internally.</p>
    <h3 class="mt-0">Benefit for CEO/Company</h3>
    <p>There is a two-pronged health issue awaiting businesses in the UK.The UK workforce is an aging workforce that increasingly cannot afford to retire early. Each company will soon have more employees that are motivated to work longer - yet potentially cost the company with a decreased rate of healthiness and accelerated rate of musculoskeletal issues at the workplace. This is where early identification of health and lifestyle interventions can pay huge dividends for those companies that choose to do so.</p>
    <h3 class="mt-0">Benefit for Employee</h3>
    <p>Through a collaborative approach with your employees, we focus on the habits and behaviours that lie behind the workplace activities and traditions within organisations. We aim to instigate minimal changes within employee behaviours which, collectively, can have enormous benefits for employee health and company balance health. Through talks and presentations we target a greater understanding of what each one can do to uplift their workplace health habits, and how this can impact their wellbeing and the company. We aim to inform on how to build healthy resilient employees which have a real world impact on absenteeism and energy and motivation</p>
    <h3 class="mt-0">Did you know…?</h3>
    <p>1. The rate of absenteeism in the UK workforce has fallen from 7.3 days per employee in 1993 to 4.1 in 2018. The ONS statistics in 2017 stated that 77% of workplace absenteeism hours in the UK is now a result of either ill health or musculoskeletal issues, which is up significantly for the 50+ work force. The UK workforce is seemingly getting older, unhealthier yet taking less sick days. Are we expecting a new wave of younger talent to come through and replace those that are brimming with experience? Think again. Professional people younger than 35 have an average job tenure of 19 months. </p>
    <p>2. “Presenteeism- employees going to work even when ill for fear of losing job/pay/project/responsibility.”The workplace sickness rate is falling, but because of an increased pressure internally from employees to attend work. People know that they have measured HR records. Presenteeism may inadvertently lead to a spike in genuine health-related concerns as the workforce ages, as well as an increase in work-related stress.</p>
    <p>3. Statistical research predicts that unless the UK workforce embraces the benefits of healthy lifestyles and physical/mental well-being, many companies will soon be faced with their employees “Running on Fumes” with regards balancing their work-life commitments.</p>
  </div>
  <img src="<%= asset_path 'lightbulb-mobile.jpg' %>" alt="" class="programmes-image my-5">
  <h2 class="mt-2"> Huddle: Team Dynamics and Performance</h2>
  <div class="mt-4">
    <h3 class="mt-0">Abstract</h3>
    <p>The Programme is specifically designed to raise an awareness of the importance of team dynamics, drawing parallels with professional sport where the alignment of vision, strategy and resources make the difference between success and failure. We bring real-world examples of the different modes of coaching and communication in a field where such philosophies determine the difference between the good and the great.</p>
    <h3 class="mt-0">Benefit for CEO/Company</h3>
    <p>This programme highlights the traits of high performing teams and the lessons that can be applied to high performing companies. We also bring leadership lessons drawn from sport, as well as management models used by some of the best coaches in sport and what business can learn from these.</p>
    <h3 class="mt-0">Benefit for Employee</h3>
    <p>This programme is based primarily around the lessons learnt through both success and failure in the sporting world. As a company with significant experience in elite sport in multiple disciplines we pride ourselves on the engagement and interest that we can bring.</p>

  </div>
</div>
